.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
  background-size: cover;
  background-position: center;
}


form{
  background-color: whitesmoke;
  padding: 1px 70px;
  border-radius: 10px;
}

h1{
  color: rgb(18, 1, 1);
  text-align: center;
  
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}